body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #222;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* مهم عشان الترتيب */
  padding: 15px 20px;
  background: #252525;
  color: white;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: #00bcd4;
}

/* Sections */
section {
  padding: 60px 20px;
  text-align: center;
}

/* Hero */
#hero {
  background: #343434;
  color: white;
}

/* Projects */
.project {
  border: 1px solid #ddd;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  background: white;
}

/* Dark Mode */
.dark {
  background: #000;
  color: #ccc;
}

.dark header {
  background: #111;
}

.dark #hero {
  background: #1a1a1a;
}

.dark .project {
  background: #222;
  border: 1px solid #444;
}